html,
body {
    height: 100%;
    margin: 0px
}

* {
    box-sizing: border-box
}

.header {}

.menu {
    background-color: rgb(246, 246, 246)
}

.top_menu {
    width: 80%;
    margin: auto;
    overflow: auto
}

.top_menu_a {
    width: 50%;
    float: left;
    padding: 10px
}

.text_f {
    display: inline-block;
    margin: 0px;
    font-size: 11px
}

.top_menu_b {
    width: 50%;
    float: right
}

ul {
    margin: 0;
    padding: 0;
    float: right
}

.menu-item {
    display: inline-block;
    padding: 10px;
    font-size: 11px;
    color: black
}

.menu_item_b {
    color: #71cd14;
}

.bottom_menu {
    padding: 15px 0px
}

.bottom_menu_a {
    width: 80%;
    margin: auto;
    overflow: auto
}

.bottom_menu_b {
    width: 50%;
    display: inline-block;
}

.menu_item_c {
    color: black
}

ul {
    margin: 0;
    padding: 0
}

.menu_item {
    display: inline-block;
    padding: 15px;
}

.bottom_menu_c {
    width: 30%;
    margin: auto;
    overflow: auto;
    display: inline-block
}

.ul {
    margin: 0;
    padding: 0
}

.menu_item_a {
    display: inline-block;
    padding: 10px;
    float: left;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(https://colorlib.com/preview/theme/eiser/img/banner/banner-bg.jpg);
    background-size: cover;
    background-position: center
}

.container_a {
    width: 80%;
    margin: auto;
    overflow: auto
}

.container_b {
    padding: 249px 0px
}

.text {
    color: #ffffff;
    font-size: 14px
}

.text-green {
    color: #71cd14;
    font-size: 52px
}

.text-white {
    color: #f6f6f6;
    font-size: 52px
}

.text_a {
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin: 0px 0px 40px 0px
}

.text_b {
    background-color: #71cd14;
    color: #ffffff;
    padding: 20px 20px;
    display: inline-block
}

.container_c {
    padding: 20px 0px
}

.container_d {
    width: 80%;
    margin: auto;
    overflow: auto
}

.card_a {
    height: 200px;
    width: 25%;
    padding: 20px;
    float: left
}

.card_b {
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    text-align: center
}

.image {
    display: block;
    padding: 20px;
}

.heading {
    padding: 10px;
    color: black
}

.text_c {
    font-size: 15px;
    padding: 10px;
}

.heading_a {
    padding: 10px;
    color: black
}

.heading_b {
    padding: 10px;
    color: black
}

.heading_d {
    padding: 10px;
    color: black
}

.container_e {
    padding: 60px 0px;
    overflow: auto
}

.container_30 {
    padding: 60px 0px;
    overflow: auto
}

.container_f {
    width: 80%;
    margin: auto;
    overflow: auto
}

h2 {
    font-size: 24px;
}

.text_e {
    font-size: 14px;
    color: #797979;
    text-align: center
}

.card_c {
    width: 33.33%;
    padding: 20px;
    float: left
}

.card_d {
    background-color: white;
    height: 100%;
    width: 100%;
}

.text_i {
    padding: 20px
}

.text_h {
    font-size: 14px;
    color: black
}

.text_j {
    display: block;
}

.container_g {
    background-image: url(https://colorlib.com/preview/theme/eiser/img/offer-bg.png);
    height: 65%;
    width: 100%;
    background-size: cover;
    background-position: center
}

.container_h {
    width: 80%;
    margin: auto;
    overflow: auto
}

.text_l {
    color: #4a4a4a;
    font-size: 24px;
    margin: 10px 0px
}

.container_j {
    width: 33.33%;
    margin: auto 630px
}

.container_i {
    padding: 100px 0px;
    text-align: center
}

.text_m {
    color: #2a2a2a;
    font-size: 94px;
    margin: 10px 0px
}

p {
    margin: 0px
}

.text_n {
    background-color: #71cd14;
    color: white;
    padding: 20px;
    display: inline-block
}

.container_n {
    padding: 92px 0px
}

.text_o {
    color: #4a4a4a;
    margin: 40px;
    font-size: 14px
}

.container_k {
    padding: 90px 0px
}

.container_l {
    width: 80%;
    margin: auto;
    overflow: auto
}

.text_p {
    text-align: center;
    font-size: 24px
}

.container_34 {
    padding: 20px 0px;
    overflow: auto
}

.conatiner_1 {}

.container_m {
    background-color: #f6f6f6;
    text-align: center;
    padding: 90px 15px;
    width: 50%;
    float: left
}

.text_q {
    color: #4a4a4a;
    font-size: 20px
}

.container_2 {
    margin: 100px 0px 75px 0px
}

.text_r {
    font-size: 32px
}

.ttext {
    font-size: 32px;
}

.container_3 {
    width: 50%;
    padding: 20px 10px;
    float: right
}

.container_4 {
    float: left;
    width: 50%;
    padding: 20px
}

.container_6 {
    width: 100%;
    height: 100%;
}

.container_r {}

.container_5 {
    display: inline-block;
    width: 49%;
    padding: 20px 0px
}

.container_s {
    padding: 50px 0px
}

.container_t {
    width: 80%;
    margin: auto;
    overflow: auto
}

.contianer_u {}

.container_v {
    width: 25%;
    padding: 20px;
    float: left;
}

.container_w {
    width: 100%;
    height: 100%;
}

.container_10 {
    padding: 10px
}

.container_x {
    padding: 50px 0px
}

.container_y {
    width: 80%;
    margin: auto;
    overflow: auto
}

.container_11 {
    width: 33.33%;
    padding: 20px;
    float: left
}

.container_12 {
    width: 100%;
    height: 100%;
}

.text_z {
    display: inline-block;
    padding: 10px;
    color: #797979
}

.text_s {
    padding: 20px;
    color: #797979
}

.text_t {
    display: block;
    font-size: 20px;
    color: black;
}

.text_u {
    color: #797979;
    font-size: 15px
}

.text_1 {
    color: black
}

.text_2 {}

.container_13 {
    background-color: #0d0d1f;
    padding: 100px 0px
}

.container_14 {
    width: 80%;
    margin: auto;
    overflow: auto
}

.container_15 {
    width: 15%;
    padding: 10px;
    float: left
}

.container_16 {
    color: white;
    font-size: 20px
}

.container_17 {
    color: #797979;
    font-size: 17px;
    display: block
}

.container_18 {
    width: 30%;
    padding: 10px;
    float: left;
    position: relative
}

.container_19 {
    color: #797979;
}

.container_20 {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    float: left;
    position: relative
}

.container_22 {
    background-color: #797979;
    width: 195px;
    padding: 15px 10px;
    float: left;
    height: 45px;
}

.container_21 {
    float: left;
    background-color: #71cd14;
    padding: 5px 10px;
    display: inline-block;
    width: 86px;
    height: 27px;
    position: absolute;
    left: 164px;
    top: 18px
}

.container_23 {
    color: white;
    margin: 0px;
    font-size: 14px
}

.container_24 {
    color: white;
    font-size: 12px

}

.footer_1 {}

.footer_2 {
    width: 70%;
    float: left
}

.footer_3 {
    color: white;
    font-size: 18px
}

.footer_4 {
    color: #71cd14;
}

.footer_5 {
    width: 30%;
    float: right
}

.footer_6 {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    float: left
}

.footer_7 {
    height: 100%;
    width: 100%;
}

.text_11 {
    margin: 20px 0px
}

.text_12 {
    padding: 0px 20px 0px 0px
}

.text_25 {
    margin: 10px 0px
}

.container_31 {
    padding: 50px 0px;
    overflow: auto
}

.container_32 {
    padding: 50px 0px;
    overflow: auto
}

.container_33 {
    padding: 50px 0px;
    overflow: auto
}
